.mobile-nav {
    display: none;
}

@font-face {
    font-family: dakota;
    src: url(../fonts/Dakota.ttf);
  }
  
  h2 {
    font-family: 'dakota';
    text-align: center;
    font-size: 45px;
    padding: 30px 0;
}

#story h2 {
    color: #b18e2e;
}
.story-text{column-count:2}

.lang-switch {font-family: 'Cairo', sans-serif;background: #b18e2e;float: right;width: 40px;height: 36px;color: #fff;font-size: 25px;text-align: center;line-height: 26px;position: absolute;right:20px}

.lang-switch:after {content: "";display: block;width: 40px;height: 5px;position: absolute;background: #b18e2e;}
.lang-switch a{color:#fff}

.header-nav li {
    list-style: none;
    flex-grow: 1;
    flex-basis: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
}

.header-nav ul {
    padding: 0;
    display: flex;
    width: 65%;
    margin: auto;
    padding: 20px 0;
}

.logo {
    position: absolute;
    padding-left: 15px;
}

i.fab.fa-instagram {
    display: none;
}

header {
    padding: 15px 0;
    position: relative;
    z-index: 9;
    background: #f3eee6ab;
}

.header-nav li a {
    color: #7d8285;
    font-weight: bold;
    font-size: 16px;
}
ul.slick-dots {
    position: absolute;
    bottom: 10px;
    padding: 0;
    left: 50%;
}

ul.slick-dots li {
    text-align: center;
    font-size: 0;
    float: left;
    margin-right: 10px;
    list-style: none;
    width: 23px;
    height: 23px;
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
}

button#slick-slide-control00 {}

ul.slick-dots li.slick-active button {
    border: 0;
    background: #fff;
    outline: none;
}

li.slick-active {}

ul.slick-dots li button {
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background:transparent;
    margin-top: 2px;
}
.slick-track {
    height: 100vh;
    overflow: hidden;
}

div#slideshow {
    height: 100vh;
    margin-top: -90px;
}

.slick-slide img {
    width: 100%;
}
#brands .background img {
    width: auto;
    /* margin-top: 30px; */
    height: 100%;
    max-width: initial;
}
.slick-slide .col-md-12 {
    padding: 0;
}

div#slick-slide00 {}

button.slick-next.slick-arrow,button.slick-prev.slick-arrow {
    display: none!important;
}



.slick-slide {
    width: 100%;
}

.wrapper.container-fluid {
    padding: 0;
}

.slick-list.draggable {
    width: 100%;
}
#about{
    background:  url(../img/about.png);
    padding: 70px 0;
    color: #fff;
}
div#story {
    padding: 30px 0;
}